name: jHDF CI

on:
    push:
        branches: [ master]
    pull_request:
        branches: [ master ]
    schedule:
        - cron: '0 0 * * 4'

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest', 'ubuntu-24.04-arm']
                java: [ '17', '21' ]

        steps:
            - uses: actions/checkout@v5

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  java-version: ${{ matrix.java }}
                  distribution: 'zulu'
                  cache: 'gradle'

            - name: Install HDF5 (Linux)
              if: runner.arch != 'ARM64' && runner.os == 'Linux'
              run: >
                wget -q https://github.com/HDFGroup/hdf5/releases/download/hdf5_1.14.4.2/hdf5-1.14.4-2-ubuntu-2204_gcc.tar.gz
                  tar -xzf hdf5-1.14.4-2-ubuntu-2204_gcc.tar.gz
                  tar -xzf hdf5/HDF5-1.14.4.2-Linux.tar.gz
                  echo "$GITHUB_WORKSPACE/HDF5-1.14.4.2-Linux/HDF_Group/HDF5/1.14.4.2/bin/" >> $GITHUB_PATH
                  echo $GITHUB_PATH

            - name: Install HDF5 (Mac)
              if: runner.os == 'macOS'
              run: >
                wget -q https://github.com/HDFGroup/hdf5/releases/download/hdf5_1.14.4.2/hdf5-1.14.4-2-osx12.tar.gz
                  tar -xzf hdf5-1.14.4-2-osx12.tar.gz
                  tar -xzf hdf5/HDF5-1.14.4.2-Darwin.tar.gz
                  echo "$GITHUB_WORKSPACE/HDF5-1.14.4.2-Darwin/HDF_Group/HDF5/1.14.4.2/bin/" >> $GITHUB_PATH
                  echo $GITHUB_PATH

            - name: Install HDF5 (Windows)
              if: runner.os == 'Windows'
              shell: bash
              run: >
                  curl.exe --location --remote-name https://github.com/HDFGroup/hdf5/releases/download/hdf5_1.14.4.2/hdf5-1.14.4-2-win-vs2022_cl.zip
                    unzip hdf5-1.14.4-2-win-vs2022_cl.zip
                    unzip hdf5/HDF5-1.14.4-win64.zip
                    echo "$GITHUB_WORKSPACE/HDF5-1.14.4-win64/bin/" >> $GITHUB_PATH
                    echo $GITHUB_PATH

            - name: h5dump version
              continue-on-error: true
              run: h5dump --version

            - name: Gradle Build
              working-directory: jhdf
              run: ./gradlew build

            - name: Gradle Build Jars
              working-directory: jhdf
              run: ./gradlew jar sourcesJar javadocJar

            - name: Gradle Stop Daemon
              working-directory: jhdf
              run: ./gradlew --stop

            - name: Archive junit results
              if: always()
              uses: actions/upload-artifact@v4
              with:
                name: junit-report-${{ matrix.os }}-${{ matrix.java }}
                path: jhdf/build/reports/tests/test
                if-no-files-found: error
