name: 'jHDF Release'

on:
    # When a release is created
    release:
        types:
            - created

    # Manual
    workflow_dispatch:

jobs:
    # First run all builds to verify
    build:
        name: "Build all platforms"
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest', 'ubuntu-24.04-arm']
                java: [ '17', '21' ]

        steps:
            -   uses: actions/checkout@v6

            -   name: Set up JDK
                uses: actions/setup-java@v5
                with:
                    java-version: ${{ matrix.java }}
                    distribution: 'zulu'

            -   name: Gradle Build
                working-directory: jhdf
                run: ./gradlew build

            -   name: Gradle Build Jars
                working-directory: jhdf
                run: ./gradlew jar sourcesJar javadocJar

    release:
        name: "Publish Release"
        needs: build # If all builds completed successfully
        runs-on: ubuntu-latest
        environment: Release # Access environment with release keys

        steps:
            - uses: actions/checkout@v6

            - name: Set up JDK
              uses: actions/setup-java@v5
              with:
                  # Must use the lowest supported Java version
                  java-version: '17'
                  distribution: 'zulu'

            - name: Build
              working-directory: jhdf
              run: ./gradlew assemble

            - name: Gradle Build Jars
              working-directory: jhdf
              run: ./gradlew jar sourcesJar javadocJar

            # Tests signing and ensure archived artifacts include signatures
            - name: Sign Publication
              env:
                  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
                  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
              working-directory: jhdf
              run: ./gradlew signMavenPublication

            - name: Archive Artifacts
              uses: actions/upload-artifact@v5
              with:
                  name: artifacts
                  path: |
                    jhdf/build/libs
                    jhdf/build/publications

            - name: Publish to GitHub Packages
              working-directory: jhdf
              env:
                  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
                  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: ./gradlew publishMavenPublicationToGitHubRepository

            - name: Publish to Sonatype (Maven Central)
              working-directory: jhdf
              env:
                  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
                  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
                  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
                  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
              run: ./gradlew publishMavenPublicationToSonatypeRepository

            # https://central.sonatype.org/publish/publish-portal-ossrh-staging-api/#1-modify-your-ci-script
            - name: Call publishing endpoint
              env:
                  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
                  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
                  TAG: ${{ github.ref_name }}
              run: |
                  curl -sS -f -X POST \
                    -u "${SONATYPE_USERNAME}:${SONATYPE_PASSWORD}" \
                    -H "Accept: */*" \
                    "https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/io.jhdf?publishing_type=user_managed&deployment_name=$TAG"
